<section id="vision">
	<hr size=30>
	<div class="container-fluid">
		<h1 class ="text-center">VISION</h1>
		<div class = "row">
			<div class="col-md-4">
				<h1>Image placeholder</h1>
			</div>
			<div class="col-md-8">
				<p>Quisque tincidunt nibh vitae ante pretium dignissim. Etiam finibus varius maximus. Vivamus mattis augue id mauris ornare, vitae tristique augue facilisis. Morbi sed eros dui. Phasellus eleifend consequat sapien nec euismod. Nullam molestie tincidunt accumsan. Cras porta mi nulla, in consequat est hendrerit quis. Ut aliquam erat id augue ultrices tincidunt. Praesent in justo et quam ultricies suscipit. Praesent quis nulla rhoncus, egestas lacus quis, posuere elit. Phasellus interdum in arcu in interdum. Donec gravida, quam non faucibus gravida, neque neque tincidunt enim, sed feugiat tellus justo id ipsum. Nam urna tortor, consectetur molestie laoreet condimentum, rhoncus et lacus.</p>

				<p>Quisque tincidunt nibh vitae ante pretium dignissim. Etiam finibus varius maximus. Vivamus mattis augue id mauris ornare, vitae tristique augue facilisis. Morbi sed eros dui. Phasellus eleifend consequat sapien nec euismod. Nullam molestie tincidunt accumsan. Cras porta mi nulla, in consequat est hendrerit quis. Ut aliquam erat id augue ultrices tincidunt. Praesent in justo et quam ultricies suscipit. Praesent quis nulla rhoncus, egestas lacus quis, posuere elit. Phasellus interdum in arcu in interdum. Donec gravida, quam non faucibus gravida, neque neque tincidunt enim, sed feugiat tellus justo id ipsum. Nam urna tortor, consectetur molestie laoreet condimentum, rhoncus et lacus.</p>
			</div>
			
		</div>
	</div>

</section>