<section id="icosplit">
	<hr size=30>
	<div class="container-fluid">
		<h1 class = "text-center"> ICO SPLIT </h1>
		<div class = "row">
			<div class = "col-md-10 col-md-offset-1">
				<p> There will be a total of 100,000,000 SDD tokens in circulation, however only 65,000,000 will be available for sale.</p>
				<p> Each SDD token will be available for purchase by a Singaporean Resident for US$0.70 per token, upon the launch of the General Standard platform. We will guarantee that we will repurchase every token at a price of at least US$0.70 from the open market for use on the General Standard platform.</p>
				<p> The ICO is needed to help raise funds to hire more develops and to ramp up our marketing efforts, in addition to provide future liquidity to our Bitcoin and Ethereum reserves. </p>
			</div>
		</div>
		<div class = "row">
			<div class = "col-md-10 col-md-offset-1">
			<table style="width:100%" align="center" >
				<tr>
				    <th>Phase</th>
				    <th>Tokens Available</th> 
				    <th>Cost per Token(USD)</th>
				</tr>
			    <tr>
				    <td>1</td>
				    <td>10,000,000</td> 
				    <td>$0.10</td>
				</tr>
				<tr>
				    <td>2</td>
				    <td>15,000,000</td> 
				    <td>$0.25</td>
				</tr>
				<tr>
				    <td>3</td>
				    <td>40,000,000</td> 
				    <td>$0.40</td>
				</tr>
			</table>
			</div>
		</div>
		</div>
	</div>


</section>