<!-- About Section -->
    <section id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted" style="font-family: montserrat">General Standard will be Singapore's first cryptocurrency gateway which is simple and easy to use with a guaranteed 100% uptime.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">General Standard was conceptualized in 2015, however it was merely a side thought of the founder, Mr Syahrul Nizam who was an early cryptocurrency advocate</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Creation of the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">New members were added to the team, however this was merely a side-project for many of the team members.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017</h4>
                                    <h4 class="subheading">Earlier Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Officially started as a small "friends only" exchange, Syahrul Nizam sold bitcoins and ethereum to close friends who were interested in getting started. There was no web interface, and sales were made peer to peer.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">Online transactions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In contact with several online payment processors to allow people to purchase cryptocurrencies without meeting up in person.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2017</h4>
                                    <h4 class="subheading">Halt of online transactions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">High fees demande by online payment processors such as paypal and payoneer made Syahrul Nizam lose money selling cryptoccurency. In addition, because of the high volume he was facing, his account was constantly under investigation and subsequently closed down due to 'high risk'. Local Banks were also not supportive of cryptocurrencies for obvious reasons.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30 August 2017</h4>
                                    <h4 class="subheading">General Standard </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">General Standard Exchange Platform was conceptualized. The platforms aims to provide a simple solution for the masses to buy cryptocurrencies. In addition, General Standard, will be fully regulated by the Government and in compliance with terrorism laws. We will be working with Visa and Mastercard,so that we can process credit card payments directly.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">Singapore Digital Dollar Token Conceptualized</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Singapore Digital Dollar(SDD) will be used as 'fuel' to purchase crytpocurrency on the General Standard platform. SDD aims to tokenize the Singapore Dollar as well as provide funds to the core team. Every trade done on the General Standard platform will use the SDD token</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>