<section id="vision">
	<hr size=30>
	<div class="container-fluid">
		<h1 class ="text-center">VISION</h1>
		<div class = "row">
			<div class="col-md-4">
				<h1>Image placeholder</h1>
			</div>
			<div class="col-md-8">
				<p>The General Standard Exchange platform aims to be Singapore's premier cryptocurrency exchange. In Singapore, there is a large interest in cryptocurrencies. However, local banks are extremely unsupportive of cryptocurrencies, with the bank accounts of bitcoin and ethereum providers being closed down regularly. We believe that everyone should be able to purchase any cryptocurrency with their hard earned money, and we want you to be part of that journey with us.</p>

				<p>To combat this problem, the General Standard will be the first Singapore Exchange that offers Cryptocurrencies without the need of a bank account. This is done by first directly allowing users to deposit money at top-up points located all over Singapore to purchase Singapore Digital Dollar(SDD). SDD can then be used to purchase up to 100 cryptocurrencies which is planned to be available on the General Standard platform.</p>

				<p> For online purchases, we have plans to directly liase with Visa and Mastercard to allow us to be a payment processor. This means no third party fees for users.</p>
				
			</div>
			
		</div>
	</div>

</section>